pkgbase = imgcli
	pkgdesc = Dependency-free CLI to convert, resize, crop, filter & composite images (ffmpeg-style)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/swperb/imgcli
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = gcc
	makedepends = make
	depends = glibc
	source = imgcli-0.4.0.tar.gz::https://github.com/swperb/imgcli/archive/refs/tags/v0.4.0.tar.gz
	sha256sums = 3eedde19ddfa25dc3ed453a94f491b561f92d3e1af6fb2c66929db48e530f644

pkgname = imgcli
